In [18]:
from sqlalchemy import create_engine
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

username = os.getenv('DB_USER')
password = os.getenv('DB_PASS')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')
dbname = 'nba_stats'

# Create an engine instance
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}')

# Test the connection
with engine.connect() as connection:
    result = connection.execute("SELECT 1")
    if result.fetchone()[0] == 1:
        print("Connection successful!")
    else:
        print("Connection unsuccessful.")
    
# Query the database
query = """
SELECT * 
FROM game
WHERE date BETWEEN '2022-10-17' AND '2023-06-13'
ORDER BY date DESC;
"""

df = pd.read_sql(query, engine)

df.head()

Connection successful!

,game_id,date,season,postseason,home_team_score,away_team_score,home_team_id,away_team_id
0,1011169,2023-06-12,2022,True,94,89,8,16
1,1011168,2023-06-09,2022,True,95,108,16,8
2,1011167,2023-06-07,2022,True,94,109,16,8
3,1011166,2023-06-04,2022,True,108,111,8,16
4,1011165,2023-06-01,2022,True,104,93,8,16

## Goal: Predicting MVPs in the NBA!

In [26]:
query = """
SELECT game_id
FROM game
WHERE date BETWEEN '2022-10-17' AND '2023-06-13';
"""

season_22_gameID = pd.read_sql(query, engine).to_numpy().flatten()
season_22_gameID

array([ 858389,  857882,  857379, ..., 1007820, 1007824, 1007826])